.app__header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-mid);
  border: var(--stroke-min) solid var(--header-border);
  background: var(--surface);
}

.app-header__controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-mid);
}
