.app__main {
    display: flex;
    flex-direction: column;
    padding: var(
        --spaicing-mid
    );
    border: var(
            --stroke-min
        )
        solid
        #dbe3f0;
    border-radius: var(
        --radius-max
    );
    background: #ffffff;
}
