.app__main {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-mid);
  margin-bottom: var(--spacing-mid);
  border: var(--stroke-min) solid var(--header-border);
  border-radius: var(--radius-max);
  background: var(--surface);
}